{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="form-block mx-auto">
        <div class="text-center mb-5">
            <h3 class="text-uppercase">Login</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="form-group first">
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control" placeholder="your-email@gmail.com"
                       id="username">
            </div>
            <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" placeholder="Your Password" id="password">
            </div>

            <div class="d-sm-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Remember me</span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                </label>
                <span class="ml-auto">
                <a href="{% url 'auth_password_reset' %}" class="forgot-pass">Forgot Password
                </a>
                <a href="{% url 'registration_register' %}">Register</a>
            </span>
            </div>

            <input type="submit" value="Log In" class="btn btn-block py-2 btn-primary">

            <span class="text-center my-3 d-block">or</span>


            <div class="">
                <a href="#" class="btn btn-block py-2 btn-facebook">
                    <span class="icon-facebook mr-3"></span> Login with facebook
                </a>
                <a href="#" class="btn btn-block py-2 btn-google"><span class="icon-google mr-3"></span> Login with
                    Google</a>
            </div>
        </form>
    </div>
{% endblock %}

