{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 80px">
        <form method="post">
            <div class="row">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="col-lg-12">
                    <div class="checkout__input">
                        <p>Old password</p>
                        {{ form.old_password.errors }}
                        {{ form.old_password }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="checkout__input">
                        <p>New password</p>
                        {{ form.new_password1.errors }}
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="checkout__input">
                        <p>Confirm new password</p>
                        {{ form.new_password2.errors }}
                        {{ form.new_password2 }}
                    </div>
                </div>

            </div>
            <button class="site-btn float-right" type="submit">
                {% trans 'Change password' %}
            </button>
        </form>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
