{% extends 'layouts/base.html' %}
{% load my_tags %}

{% block content %}
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'pages:home' %}">Home</a>
                            <a href="{% url 'products:list' %}">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="checkout__title">Billing Details</h6>
                            {{ form.errors }}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>First Name<span>*</span></p>
                                        <input value="{{ profile.first_name|default:'' }}" name="first_name"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input value="{{ profile.last_name|default:'' }}" name="last_name" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input value="{{ profile.country|default:'' }}" name="country" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input value="{{ profile.address1|default:'' }}" name="address1" type="text"
                                       placeholder="Street Address" class="checkout__input__add">
                                <input value="{{ profile.address2|default:'' }}" name="address2" type="text"
                                       placeholder="Apartment, suite, unite ect (optinal)">
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input value="{{ profile.city|default:'' }}" name="city" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span></p>
                                <input value="{{ profile.state|default:'' }}" name="state" type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input value="{{ profile.postcode|default:'' }}" name="postcode" type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input value="{{ profile.phone|default:'' }}" name="phone" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input value="{{ profile.email|default:'' }}" name="email" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    {% for product in products %}
                                        <li>{{ forloop.counter }}. {{ product.title }}
                                            <span>$ {{ product.real_price }}</span></li>
                                    {% endfor %}
                                </ul>
                                <ul class="checkout__total__all">
                                    {#                                    <li>Subtotal <span>${% cart_price request %}</span></li>#}
                                    <li>Total <span>${% cart_price request %}</span></li>
                                </ul>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}